.header {
  display: flex;
  justify-content: space-between;
}

.main-title {
  padding-left: 8px;
}

.navbar-list {
  display: flex;
  align-items: center;
  padding-right: 12px;
}

@media screen and (max-width: 500px) {
  .navbar-list {
    flex-direction: column;
  }
}

.navbar-list-item {
  list-style: none;
  padding: 0 12px;
}

.navbar-list-item a {
  text-decoration: none;
  color: cornflowerblue;
}

.notes-container {
  display: flex;

}

.notes-list {
  width : 70%;
  padding: 10px;
}

.add-note {
  width : 30%;
  padding: 10px;
}

form .input-field:first-child {
  padding-top: 0;
}

.input-field {
  padding: 10px;
}

.note-card {
  border: 1px solid grey;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.delete-button {
  display: flex;
  flex-direction: row-reverse;
}